@import url('https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    background: linear-gradient(90deg, #f8ba0f, #f1ee10, #f8ba0f);   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    width: 100%;
    height: 8.5rem;
    background-image: url("./img/dragon-ball.jpg");
    background-repeat: round;
}

h1 {
    font-family: "Kalnia Glaze", serif;
    font-size: 5rem;    
    animation: title 2s infinite;
}

@keyframes title {
    50% {
        text-shadow: 0 0 15px #110302;
        color: #ffc525;
    }
}

hr {
    width: 90%;
    margin: 1rem;
}

main {
    margin-top: 1rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.finder-character {
    width: 30rem;
    height: 1rem;
    font-size: 1rem;
    text-transform: capitalize;
    border-radius: 20px;
    background-color: #1c272e;
    padding: 1rem;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container-cards {
    width: 100%;
    height: auto;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-character {
    width: 12.5rem;
    height: 25rem;
    background-color: #f8ba0f;
    border: groove 5px #ffc525;
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

.card-character > img {
    width: 100%;
    height: 80%;
}

.card-character > .description-card {
    width: 100%;
    height: 20%;
    background: #f8ba0f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    width: 100%;
    height: 3rem;
    background-color: #f8ba0f;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > p {
    font-size: 17px;
    color: #ff0000;
}

.card__text {
    font-family: "Kalnia Glaze", serif;
    font-weight: 500;
    text-shadow: 0 0 10px #ecd0dc;
}